.banner {
    background:url(bannerpainting.jpg);
     -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    height: 250px;
    /* background-size: 1440px;  */
}
.searchform  {
    margin-left: 330px;
    margin-top: 10px;
    /* padding-right: 5000px; */
}

.btn-primary {
    margin-left: 310px;
    margin-top: 10px;
} 

.searchTitle{
color: rgb(86, 155, 219);
text-shadow: 2px 2px rgb(64, 66, 211);
margin-left: 435px;
padding-top: 35px;
font-size: 45px;
}